<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- .NET Runtime version -->
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!-- AppSettings -->
  <appSettings>
    <!--   ============== -->
    <!--   Proxy Settings -->
    <!--   ============== -->

    <!-- Max client connections per proxy instance -->
    <add key="MaxClientConnections" value="20" />
    <!-- silent = Logging is disabled; default = Normal logging; -->
    <add key="LoggingLevel" value="default" />
    <!-- Resource/Card modding, false = Disabled; true = Enabled -->
    <add key="Modding" value="false" />
    
    <!--  =============== -->
    <!-- Resource Settings -->
    <!--  =============== -->
    
    <!-- Gems for each client connection; Only works if "Modding" is set to true -->
    <add key="Gems" value="999999" />
    <!-- Gold for each client connection; Only works if "Modding" is set to true -->
    <add key="Gold" value="999999" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ClashProxy.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>