################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClashRoyaleProxy/v14
/ClashRoyaleProxy/bin/Debug
/ClashRoyaleProxy/obj/Debug
*.user
